/* #region Declare variable */
$icon-size: 24px;
$color-white: #fff;
$navbar-width: 226px;
$navbar-width-toggle: 52px;
$header-height: 48px;
/* #endregion */

/* #region mixins */
@mixin icon-default {
    background-image: url("./assets/img/Sprites.svg");
    background-repeat: no-repeat;
    display: inline-block;
}

@mixin icon-bind($position, $size: $icon-size) {
    background-position: $position;
    height: $size;
    width: $size;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
/* #endregion */

/* #region General */
@font-face {
    font-family: NotoSans;
    src: url("./assets/fonts/notosans-regular.woff2") format("woff2");
}
@font-face {
    font-family: Google-Sans-Bold;
    src: url("./assets/fonts/notosans-bold.woff2") format("woff2");
}

.flex-row-align-center {
    @include flex-row();
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: NotoSans;
    overflow-y: auto;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: rgb(226, 226, 226);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 212, 212);
}
/* #endregion */

/* #region icon */
.icon {
    @include icon-default();

    /* #region icon navbar */
    &.icon-navbar-dashboard {
        @include icon-bind(-30px -1628px);
    }

    &.icon-navbar-employee {
        @include icon-bind(-592px -1631px);
    }

    &.icon-navbar-cash {
        @include icon-bind(-74px -1628px);
    }

    &.icon-navbar-bank {
        @include icon-bind(-118px -1628px);
    }

    &.icon-navbar-pu {
        @include icon-bind(-163px -1628px);
    }

    &.icon-navbar-sale {
        @include icon-bind(-207px -1631px);
    }

    &.icon-navbar-invoice {
        @include icon-bind(-251px -1632px);
    }

    &.icon-navbar-stock {
        @include icon-bind(-294px -1632px);
    }

    &.icon-navbar-tools {
        @include icon-bind(-339px -1633px);
    }

    &.icon-navbar-fixed-assets {
        @include icon-bind(-382px -1632px);
    }

    &.icon-navbar-tax {
        @include icon-bind(-427px -1634px);
    }

    &.icon-navbar-price {
        @include icon-bind(-471px -1633px);
    }

    &.icon-navbar-general {
        @include icon-bind(-514px -1632px);
    }

    &.icon-navbar-budget {
        @include icon-bind(-514px -1632px);
    }

    &.icon-navbar-report {
        @include icon-bind(-552px -1636px);
    }

    &.icon-navbar-finance {
        @include icon-bind(-207px -1667px);
    }
    /* #endregion */

    /* #region icon header */
    &.icon-three-stripes {
        @include icon-bind(-843px -30px);
    }

    &.icon-chevron-down {
        @include icon-bind(-80px -360px, 14px);
        transform: rotate(90deg);
        margin-left: 10px;
    }

    &.icon-notify {
        @include icon-bind(-788px -30px);
        margin-right: 8px;
    }
    /* #endregion */

    /* #region icon content */
    &.icon-search {
        @include icon-bind(-992px -360px, 16px);
    }

    &.icon-refresh {
        @include icon-bind(-423px -201px);

        &:hover {
            @include icon-bind(-1097px -88px);
        }
    }

    &.icon-excel {
        @include icon-bind(-704px -200px);

        &:hover {
            @include icon-bind(-704px -256px);
        }
    }
    &.icon-chevron-down-blue {
        @include icon-bind(-896px -359px, 16px);
    }
    &.icon-arrow-dropdown {
        @include icon-bind(-560px -359px, 16px);
    }
    /* #endregion */

    /* #region icon dialog */
    &.icon-help {
        @include icon-bind(-89px -144px);
    }

    &.icon-close {
        @include icon-bind(-144px -144px);
    }

    &.icon-warning-48 {
        @include icon-bind(-592px -456px, 48px);
    }

    &.icon-error {
        @include icon-bind(-746px -456px, 48px);
    }

    &.icon-question {
        @include icon-bind(-826px -456px, 48px);
    }

    &.icon-option-date {
        @include icon-bind(-120px -305px, 30px);
    }
    /* #endregion */
}
/* #endregion */

/* #region Navbar */
.navbar {
    background-color: #393a3d;
    color: #fff;
    width: $navbar-width;
    height: 100vh;
    border-right: 2px solid #e5e5e5;
    overflow: auto;

    &.toggle {
        width: $navbar-width-toggle;

        .logo-box-toggle {
            height: $header-height;
            @include flex-row();
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .navbar-item-text {
            display: none;
        }

        & ~ div {
            left: $navbar-width-toggle;
            .icon-three-stripes {
                display: none;
            }
        }
    }

    //   Logo box
    .logo-box {
        @include flex-row();
        padding: 24px;
        height: $header-height;
        align-items: center;

        .toggle {
            @include icon-default();
            @include icon-bind(-424px -87px);
            margin-right: 10px;
            cursor: pointer;
        }

        .logo-branch {
            @include flex-row();
            align-items: center;

            .logo {
                background-image: url("./assets/img/logo-amis.png");
                background-repeat: no-repeat;
                background-size: cover;
                height: 30px;
                width: 30px;
                margin-right: 4px;
            }

            .title {
                font-weight: bold;
                color: $color-white;
            }
        }
    }
    .navbar-content {
        padding-top: 20px;
        .navbar-item {
            height: 45px;
            padding-left: 15px;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            &:active,
            &.active {
                background-color: #535353;
                color: #fff;
            }
            &:hover:not(.active) {
                background-color: #464646;
                color: #fff;
            }
            .navbar-item-icon {
                font-size: 16px;
                line-height: 20px;
                height: 20px;
                width: 20px;
                margin-right: 10px;
                &.fas {
                    color: #b3b3b3;
                }
            }
            .navbar-item-text {
                font-size: 16px;
                color: #fff;
            }
        }
    }
}
/* #endregion */

/* #region Header */
.header {
    position: absolute;
    left: $navbar-width;
    top: 0;
    right: 0;
    height: $header-height;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e5e5e5;
    .header-left {
        display: flex;
        align-items: center;
        cursor: pointer;
        .header-left-icon {
            margin-left: 10px;
        }
        .header-left-text {
            font-family: Google-Sans-Bold;
            font-size: 16px;
            color: #333333;
            margin-left: 30px;
            font-weight: 400;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        .header-right-notify {
            margin-right: 16px;
            cursor: pointer;
        }
        .header-right-avatar {
            border-radius: 50%;
            background-image: url("./assets/img/default-avatar.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 35px;
            height: 35px;
        }
        .header-right-name {
            margin-left: 16px;
            margin-right: 16px;
            font-family: Google-Sans-Bold;
            font-size: 18px;
            color: #333333;
        }
    }
}
/* #endregion */

/* #region Content */
.content {
    position: fixed;
    left: $navbar-width;
    top: $header-height;
    right: 0;
    bottom: 0;
    padding: 16px 16px 0 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    &.expand {
        left: $navbar-width-toggle;
    }

    .title-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title {
            font-size: 24px;
            font-family: Google-Sans-Bold;
        }
    }
    .toolbar-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 16px;
        background-color: #fff;
        .toolbar-right {
            display: flex;
            align-items: center;
            margin-right: 10px;
            .btn-refresh {
                margin-left: 15px;
                padding-bottom: 5px;
                background: url("./assets/img/Sprites.svg") no-repeat -425px -201px;
                width: 21px;
                height: 23px;
                &:hover {
                    background: url("./assets/img/Sprites.svg") no-repeat -1098px -90px;
                    width: 20px;
                    height: 21px;
                }
            }
        }
    }
    .data {
        background-color: $color-white;
        position: relative;

        .table-option {
            @include flex-row();
            align-items: center;
            justify-content: center;

            .btn {
                padding-left: 8px;
                padding-right: 8px;
                color: #0068a8;
                font-weight: bold;
            }
        }
    }

    .grid-contain {
        padding-left: 15px;
        padding-right: 15px;
        background-color: #fff;
        .grid {
            background-color: #fff;
            max-height: calc(100vh - 200px);
            overflow: auto;
            .footer {
                background-color: #fff;
                position: sticky;
                bottom: -2px;
                height: 55px;
                display: flex;
                align-items: center;
                left: -1px;
                right: -1px;
                .footer-left {
                    display: inline-block;
                    line-height: 45px;
                }
                .footer-right {
                    display: flex;
                    position: absolute;
                    right: 25px;
                    top: 10px;
                    .combobox {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}
/* #endregion */

/* #region Pagination */
.pagination {
    display: flex;
    align-items: center;
    .pagination-item {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        cursor: pointer;
        margin-left: 4px;
        margin-right: 4px;
        text-decoration: none;
        color: #000;
        .page {
            width: 24px;
            text-align: center;
            &.active {
                font-weight: bold;
                border: 1px solid #bbb;
            }
        }
    }
    .disabled-prev {
        margin-right: 15px;
        color: rgb(163, 163, 163);
    }
    .disabled-next {
        margin-left: 15px;
        color: rgb(163, 163, 163);
    }
}
/* #endregion */

/* #region Table */
.table {
    width: 100%;
    border-collapse: collapse;
    thead tr {
        border-bottom: 2px solid #e5e5e5;
        height: 35px;
        text-align: left;
        th {
            padding-left: 25px;
            padding-right: 35px;
            border-bottom: 1px solid #c7c7c7;
            border-right: 1px dotted #c7c7c7;
            background-color: #e6e9eb;
            white-space: nowrap;
            position: sticky;
            top: -1px;
            height: 20px;
            &:first-child {
                z-index: 3;
                border-right: none;
                width: 20px;
                padding-left: 10px;
                padding-right: 10px;
                position: sticky;
                left: -1px;
                top: -1px;
                .border-right {
                    top: -1px;
                    bottom: -1px;
                    border-left: 1px dotted #c7c7c7;
                    box-sizing: border-box;
                    position: absolute;
                    right: -1px;
                }
            }
            &:last-child {
                right: -1px;
                top: -1px;
                z-index: 3;
                border-right: none;
                position: sticky;
                .border-left {
                    bottom: -1px;
                    border-left: 1px dotted #c7c7c7;
                    box-sizing: border-box;
                    position: absolute;
                    left: -1px;
                    top: -1px;
                }
            }
            &:nth-last-child(2) {
                border-right: none;
            }
        }
    }
    tbody tr {
        &:hover td {
            background-color: #f1f6f7 !important;
        }
        &:last-child {
            border: none;
        }
        td {
            padding-left: 25px;
            padding-right: 8px;
            height: 40px;
            border-bottom: 1px solid #c7c7c7;
            border-right: 1px dotted #c7c7c7;
            &:first-child {
                padding-left: 10px;
                position: sticky;
                left: -1px;
                background-color: #fff;
                border-right: none;
                .border-right {
                    position: absolute;
                    right: -1px;
                    top: -1px;
                    bottom: -1px;
                    border-left: 1px dotted #c7c7c7;
                    box-sizing: border-box;
                }
            }
            &:last-child {
                padding-left: 8px;
                border-right: none;
                position: sticky;
                right: -1px;
                background-color: #fff;
                .border-left {
                    position: absolute;
                    left: -1px;
                    top: -1px;
                    bottom: -1px;
                    border-left: 1px dotted #c7c7c7;
                    box-sizing: border-box;
                }
                .btn-update,
                .btn-option {
                    color: #0075c0;
                    font-weight: bold;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
                .btn-option {
                    width: 23px;
                    border: none;
                }
            }
            &:nth-last-child(2) {
                border-right: none;
            }
        }
    }
}
/* #endregion */

/* #region option table Dropdown */
.table-option-dropdown {
    z-index: 100;
    white-space: nowrap;
    border: 1px solid #ccc;
    position: fixed;
    background-color: $color-white;

    .dropdown-item {
        height: 32px;
        line-height: 32px;
        padding-left: 12px;
        padding-right: 12px;

        &:hover {
            background-color: #f4f5f6;
            color: #2ca01c;
            cursor: pointer;
        }
    }
}
/* #endregion */

/* #region Dialog */
.dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.dialog-hide {
        display: none;
    }
    .dialog-background {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        height: 100%;
    }
    .dialog-content {
        width: 900px;
        background-color: #fff;
        position: relative;
        margin: 150px auto;
        .dialog-header {
            padding: 16px;
            .dialog-title {
                margin-right: 16px;
                font-size: 24px;
                font-family: Google-Sans-Bold;
            }
            .line-height {
                margin-right: 16px;
                font-size: 16px;
                display: inline-block;
                line-height: 33px;
                padding-left: 4px;
            }
            .dialog-header-right {
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
            }
        }
        .dialog-body {
            padding-left: 24px;
            padding-right: 24px;
            .space-input {
                padding-left: 4px;
                padding-right: 4px;
                padding-top: 16px;
            }
        }
        .divide {
            border-top: 1px solid #ccc;
            margin: 32px 26px 12px 24px;
        }
        .dialog-footer {
            background-color: #fff;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 24px;
            padding-bottom: 12px;
            height: 70px;
            .dialog-footer-left {
                position: absolute;
                left: 24px;
            }
        }
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.8, 0.8, 0.8);
    }
    50% {
        opacity: 1;
    }
}
.zoomIn {
    animation-name: zoomIn;
    animation-duration: 0.4s;
}
/* #endregion */

/* #region Radio */
.radio {
    display: none;

    & + label {
        width: 18px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
        background-color: #fafafa;
        border: 1px solid #cacece;
        height: 18px;
    }

    &:checked {
        & + label {
            border: 1px solid #2ca01c;

            &:after {
                content: " ";
                width: 10px;
                top: 3px;
                background: #2ca01c;
                left: 3px;
                height: 10px;
                border-radius: 50px;
                position: absolute;
            }
        }
    }
}
/* #endregion */

/* #region checkbox */
.checkbox {
    display: none;

    & + label {
        border-radius: 3px;
        display: inline-block;
        position: relative;
        border: 1px solid #afafaf;
        height: 18px;
        width: 18px;
    }

    &:checked + label {
        animation-name: rotateIn;
        animation-duration: 0.3s;
        border: 1px solid #2ca01c;

        &::after {
            @include icon-default();
            @include icon-bind(-1224px -360px, 16px);
            content: "";
            font-size: 14px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
@keyframes rotateIn {
    from {
        transform: rotate3d(0, 0, 1, 180deg);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
/* #endregion */

/* #region input */
.input {
    height: 32px;
    border: 1px solid #ccc;
    padding-left: 12px;
    width: 100%;
    outline: none;

    &::placeholder {
        font-style: italic;
    }

    &:focus {
        border-color: #2ca01c;
    }

    &:hover:not(:focus) {
        border-color: #888b8f;
    }

    &.has-icon {
        padding-right: 28px;
    }

    &.has-error {
        border-color: #f20 !important;
    }
}
.con-input {
    position: relative;

    .text-error {
        display: none;
    }

    &:hover .text-error {
        white-space: nowrap;
        position: absolute;
        top: 100%;
        display: inline-block;
        left: 25%;
        padding: 4px;
        z-index: 19;
        background-color: #38393d;
        color: $color-white;
    }
    .icon-input {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
    }
    /* #region input date pick */
    .icon-input-date {
        position: absolute;
        top: 31px;
        right: 1px;
        &:hover {
            background-color: #e0e0e0;
        }
    }
    .vdpCell {
        &:hover .vdpCellContent {
            background: #2ca01c !important;
        }
        &.selected .vdpCellContent {
            background: #2ca01c;
        }
    }
    .vdpArrowPrev:after {
        border-right-color: #2ca01c;
    }
    .vdpArrowNext:after {
        border-left-color: #2ca01c;
    }
    .vdpClearInput:before {
        display: none;
    }
    .vdpClearInput {
        pointer-events: none;
    }
    /* #endregion */
}
.label-input {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: bold;
    margin-top: 8px;
}

/* #endregion */

/* #region button */
.btn {
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 4px;

    &.btn-primary {
        background-color: #2ca01c;
        color: $color-white;
        font-weight: bold;
        border: 1px solid #ccc;

        &:hover {
            background-color: #34aa24;
        }
    }

    &.btn-secondary {
        background-color: transparent;
        border: 1px solid #ccc;

        &:hover {
            background-color: #f4f5f6;
        }
    }
}
/* #endregion */

/* #region dropdown */
.dropdown {
    position: relative;

    .dropdown-content {
        min-width: 100%;
        position: absolute;
        background-color: $color-white;
        z-index: 20;
        min-width: 100%;
        border: 1px solid #ccc;
        white-space: nowrap;

        &.reserve {
            top: auto;
            bottom: 100%;
        }

        &.hide {
            display: none;
        }

        &.right {
            right: 0;
        }
        .dropdown-item-empty {
            background-color: #f7f7f7;
            color: #575757;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid rgb(197, 197, 197);
            padding-left: 12px;
            padding-right: 12px;
        }

        .dropdown-item {
            cursor: pointer;
            height: 32px;
            line-height: 32px;
            padding-right: 12px;
            padding-left: 12px;

            &:hover:not(.active) {
                background-color: #f4f5f6;
                color: #2ca01c;
            }
        }
    }
}
/* #endregion */

/* #region autocomplete */
.autocomplete {
    .icon-dropdown-box {
        cursor: pointer;
        height: 30px;
        display: flex;
        width: 30px;
        top: 1px;
        right: 1px;
        justify-content: center;
        align-items: center;

        &:hover {
            border-left: none;
            background-color: #e9e9e9;
        }
    }

    .active {
        color: $color-white;
        background-color: #2ca01c;
    }
}
/* #endregion */

/* #region option general */
.pr-1 {
    padding-right: 8px;
}

.pr-2 {
    padding-right: 16px;
}

.pt-1 {
    padding-top: 8px;
}

.pl-1 {
    padding-right: 8px;
}

.px-1 {
    padding-left: 8px;
    padding-right: 8px;
}

.mx-1 {
    margin-left: 8px;
    margin-right: 8px;
}

.ml-1 {
    margin-left: 8px;
}

.ml-2 {
    margin-left: 16px;
}

.mt-1 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 16px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.has-text-left {
    text-align: left;
}

.has-text-center {
    text-align: center;
}

.has-text-right {
    text-align: right;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    flex: 0 0 auto;
}
/* #endregion */
